// Import font
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap);

// Colors
$navy: #06303f;
$light-blue: #87bacd;
$gray: #939393;
$light-gray: #d4d4d4;

// Default styling
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

// Breakpoints
$tablet: 46.9em; // 750px
$desktop: 75em; // 1200px

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1rem = 10px;

	@media only screen and (min-width: $tablet) {
		font-size: 70%;
	}
}

body {
	font-family: "Roboto", sans-serif;
}



// Landing page
.landing {
	background-color: $navy;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__title {
		color: #fff;
		font-size: 4rem;
		margin-top: 6rem;
	}

	&__summary {
		color: $light-blue;
		font-weight: 300;
		font-size: 2rem;
		margin-top: 1.5rem;

	}

	&__img {
		width: 100%;
		margin-top: -10rem;

		@media only screen and (min-width: $tablet) {
			width: 50%;
		}
	}
}

.login {
	display: flex;
	flex-direction: column;
	margin: 6rem auto;
	width: 80%;
	// background-color: #fff;

	&__title {
		display: flex;
		flex-direction: column;
		font-size: 4rem;

		margin-bottom: 3rem;
	}

	&__label {
		text-align: left;
		margin-bottom: 1rem;
		font-size: 2rem;

		&-checkbox {
			font-weight: 300;
		}

		a {
			color: $navy;
			font-weight: 700;
		}
	}

	&__textbox {
		font-family: inherit;
		font-size: 2rem;
		height: 6rem;
		border: 1px solid $gray;
		border-radius: 6px;
		padding-left: 1rem;
	}

	&__textbox:focus, &__textbox[type=password], &__textbox[type=email] {
		outline: none;

	}

	&__textbox:focus::placeholder {
		color: transparent;
	}

	&__checkbox {
		margin-right: 1rem;
		transform: scale(1.5);

	}

	&__btn,
	&__btn:link,
	&__btn:visited {
		margin-top: 2rem;
		font-size: 2rem;
		font-weight: 700;
		text-decoration: none;
		color: #fff;
		padding: 2rem 8rem;
		background-color: $navy;
		align-self: center;
		border-radius: 8px;
	}
}

input {
	margin-bottom: 2rem;
}
